.pageItem{
    margin: 5px;
    border-radius: 8px;
    outline: none;
    box-shadow: none;
}
.pageItem a:active{
    background: red!important;
    color: white!important;
    box-shadow: none!important;
}