.container{
    padding: 30px;
}
.heading{
    display: flex;
}
.mainContent{
    margin-top: 10px;
}
.sideCategories{
    position:fixed;
    height:100%;
    background: lightblue;
}
.mainCategories{
    position:fixed;
    height: 100%;
    background: red;
}
.pad__zero{
    padding: 0;
}
.list-groups{
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: .25rem;
    background: #f0f1f3;
}
.list-groups-flush{
    border-radius: 0
}
.mr__zero{
    margin: 0;
}
